.bookmark {
    width: 120px;
    height: 230px;
    background: cyan;
    position: absolute;
    right: 6%;

}
.bookmark-section {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.triangle-bookmark {
    position: relative;
    border: 60px solid transparent;
    top: 52%;
    transition: 0.1s;
    border-bottom: 50px solid #2f2c2c;
}
.triangle-bookmark.extend-color {
    border-bottom: 50px solid white;
    transition: 0.1s;
}
.header-main {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    font-weight: 700;
    padding: 200px 0 10px;
}
#toggle {
    cursor: pointer;
    position: absolute;
    top: 4%;
    left: 6%;
    width: 100px;
    height: 50px;
    border-radius: 160px;
    background: #222;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;

}
#toggle.active .indicator {
    left: 50px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);

}
#toggle.active {
    background: white;
    box-shadow: 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}
#change-color.change-color {
    color: black;
}
.text-under-header {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;

}
.a,.a1,.a2,.a3,.a4 {
    text-decoration: none;
    outline: none;
    color: white;
}
.a.change-color, .a1.change-color, .a2.change-color, .a3.change-color, .a4.change-color {
    color: black;
}
.part-text {
    margin: 10px 15px 10px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
.nav-links {
    transition: 0.4s;
}
.nav-links:hover {
    color: cyan;
    transition: 0.4s;
}
.text-inside-bookmark-1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    font-size: 20px;
    left: 6%;
    top: 10%;
}
.text-inside-bookmark-2 a {
    text-decoration: none;
    color: white;
}
.text-inside-bookmark-2 {
    color: white;
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    top: 35%;
    z-index: 4;
    transition: 0.5s;
}
.text-inside-bookmark-1.bookmark-text-color-change {
    color: black;
}
.text-inside-bookmark-2 a.bookmark-text-color-change {
    color: black;
}
.text-inside-bookmark-2:hover {
    transition: 0.5s;
    text-shadow: 1px 1px 8px black;
}
